.activeMail {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  background-color: white;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    background-color: white;
    padding: 1rem;
    border-radius: 0.3rem;
    h1 {
      font-size: 1.4rem;
    }
  }
}
