.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: 99999;
  position: fixed;
  inset: 0;
  top: 0;
  background-color: white;

  &__content {
    text-align: center;
    h1 {
      font-size: 8rem !important;
      margin: 0 !important;
      padding: 0 !important;
      @include breakpoint(992) {
        font-size: 5rem !important;
      }
    }
    p {
      font-size: 1.5rem;
      @include breakpoint(992) {
        font-size: 1rem !important;
      }
    }
    a {
      font-size: 1.3rem;
      @include breakpoint(992) {
        font-size: 1rem !important;
      }
    }
  }
}
